.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.go-to-button {
  background-color: #e5e1da;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid;
}

.fa-solid.fa-pencil,
i.fa-solid.fa-right-to-bracket.join-page-button {
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.75);
}
.join-page-button-container {
  border: 2px solid black;
}
