.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.go-to-button {
  background-color: #e5e1da;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid;
}
