.go-edit-delete-button-container {
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.go-edit-delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
