mixin card(cardInfo)
    div 
      h4
        a(href=`/cards/${cardInfo.id}`)=cardInfo.title
      p=cardInfo.descripton
      ul
        each hashTags in cardInfo.hashTags
          li=hashTags
      small=cardInfo.createdAt
      hr 