mixin card(cardInfo)
    a.card-div(href=`/cards/usercards/${cardInfo.id}`)
        img.card-img(src=`/assets/images/user_card_img/${cardInfo.img}`)
        h4.card-name=cardInfo.cardName
        small.created-date=cardInfo.createdAt
