mixin card(cardInfo)
    div
      img(src=`/assets/images/user_card_img/${cardInfo.img}`)
      h4
        a(href=`/cards/usercards/${cardInfo.id}`)=cardInfo.cardName
      small=cardInfo.createdAt
      hr 