mixin card(cardInfo)
    a.card-div(href=`/cards/usercards/${cardInfo.id}`)
        img.card-img(src=cardInfo.img)
        h4.card-name=cardInfo.cardName
        small.created-date=cardInfo.createdAt
