@import "./config/reset.scss";
@import "./config/variables.scss";

//components
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/card.scss";
@import "./components/form.scss";
@import "./components/card_info.scss";

//screens
@import "./screen/home.scss";
@import "./screen/base.scss";
@import "./screen/card_home.scss";
@import "./screen/join.scss";
@import "./screen/login.scss";
@import "./screen/user_card.scss";
@import "./screen/search.scss";
@import "./screen/edit.scss";

//defaults
a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: $bg;
}
