.login-bar {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.logo {
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-weight: 700;
  margin: 70px 0px;
}

.login-bar-box {
  padding: 5px 15px;
  margin: 10px 10px;
  border: black;
  border-radius: 15px;
  background-color: blue;
  color: white;
  text-align: center;
}
