extends base
include mixins/card

block content
    ul.small-nav-div
        li.small-nav
            a(href="/cards/upload") upload Cards
        li.small-nav
            a(href="/search") Search
    div.card-container
        each card in cards
            +card(card)
        else
            li sorry nothing found
