extends base
include mixins/card

block content
    h1 Card Home
    each card in cards
        +card(card) 
    else
        li sorry nothing found
    ul
        li
            a(href="/cards/upload") upload Cards
        li
            a(href="/search") Search