extends base
include mixins/card

block content
    div.small-nav-div
        a.small-nav(href="/cards/upload") Upload Your Own Cards
        a.small-nav(href="/search") Search Cards
        a.small-nav(href="/cards/usercards") Watch User Own card
    div.card-container
        each card in cards
            +card(card)
        else
            p.alert-error sorry nothing found
