extends base.pug

block content
    h4 Change Title of card
    form(method="POST")
        input(placeholder="cardName",required, type="text" name="cardName")
        input(placeholder="cost",required, type="text" name="cost")
        input(placeholder="power",required, type="text" name="power")
        input(placeholder="counter",required, type="text" name="counter")
        input(placeholder="color",required, type="text" name="color")
        input(placeholder="feature",required, type="text" name="feature")
        input(placeholder="text",required, type="text" name="text")
        input(placeholder="getInfo",required, type="text" name="getInfo")
        input(value="Save",type="submit")
