extends base
include mixins/card

block content
    div.go-to-btn-div
        a(href="/stories")
            button.go-to-btn(type="button") Story
        a(href="/cards")
            button.go-to-btn(type="button") Card
        a(href="/characters")
            button.go-to-btn(type="button") Character
        a(href="/fruits")
            button.go-to-btn(type="button") Fruit
        a(href="/cards/usercards")
            button.go-to-btn(type="button") user own card
