extends base
include mixins/card

block content
    div(class=goToButtonDiv)
        a(href=`/stories`)
            button(class="goToButton", type="button") Story
        a(href=`/cards`)
            button(class="goToButton", type="button") Card
        a(href=`/characters`)
            button(class="goToButton", type="button") Character
        a(href=`/fruits`)
            button(class="goToButton", type="button") Fruit
