extends base

block content
    div.container
        form.form(method="POST")
            input.input-bar(placeholder="user ID",name="userID",type="text",required)
            input.input-bar(placeholder="password",name="password",type="password",required)
            input.input-bar(placeholder="check password",name="checkPassword",type="password",required)
            input.input-bar(placeholder="e-mail",name="email",type="text",required)
            input.input-bar(placeholder="nick name",name="nickName",type="text")
            input.submit-button(type="submit", value="Join")
            if errorMessage
                div.alert-error
                    span=errorMessage
            span.question Already have an account? 
            div.submit-button.go-to-button
                a(href="/login") Log in now  