extends base

block content
    div.container
        form.form(method="POST")
            input.input-bar(placeholder="user ID",name="userID",type="text",required)
            input.input-bar(placeholder="password",name="password",type="password",required)
            if errorMessage
                div.alert-error
                    span=errorMessage
            button.submit-button.login-page-login-button
                i.fa-solid.fa-lock
                small.value Log In
            div.submit-button.github-button
                i.fab.fa-github
                a(href="/user/github/start") Continue with Github
            span.question Don't have an account?
            div.submit-button.login-create-button
                i.fa.fa-thin.fa-pencil
                a(href="/join") Create Now