extends base

block content
    div.container
        form.form(method="POST")
            input.input-bar(placeholder="user ID",name="userID",type="text",required)
            input.input-bar(placeholder="password",name="password",type="password",required)
            if errorMessage
                div.alert-error
                    span=errorMessage
            input.submit-button(type="submit", value="Log In")
            a.submit-button.github-button(href="/user/github/start") Continue with Github
            span.question Don't have an account?
            div.submit-button.go-to-button
                a(href="/join") Create Now