extends base
include mixins/card

block content
    form(method="GET")
        input(placeholder="Search By Title", name="keyword", type="text")
        input(type="submit",value="Search Now")

    each card in cards
        +card(card) 