extends base
include mixins/card

block content
    form.search-form(method="GET")
        input.search-bar(placeholder="Search By Card Name", name="keyword", type="text")
        button.submit-button.search-button
            i.fa-solid.fa-magnifying-glass

    if cards.length>0
    div.card-container
        each card in cards
            +card(card)
        else
            p.alert-error No Cards Found