extends base.pug

block content
    div.container
        form.form(method="POST" enctype='multipart/form-data')
            input.input-bar(placeholder="card Name",required, type="text" name="cardName")
            select.input-bar(placeholder="attribute", required,  type="text", name="attribute")
                option(value="타격") 타격
                option(value="참격") 참격
                option(value="특수") 특수
                option(value="지능") 지능
                option(value="사격") 사격
            select.input-bar(placeholder="color", required,  type="text", name="color")
                option(value="빨강") 빨강
                option(value="초록") 초록
                option(value="파랑") 파랑
                option(value="보라") 보라
                option(value="검정") 검정
                option(value="노랑") 노랑
            input.input-bar(placeholder="cost", required, type="number", name="cost", min="0")
            input.input-bar(placeholder="power",required, type="number" name="power", min="0")
            input.input-bar(placeholder="counter",required, type="text" name="counter")
            input.input-bar(placeholder="feature",required, type="text" name="feature")
            input.input-bar(placeholder="text",required, type="text" name="text")
            input.input-bar(placeholder="get Info",required, type="text" name="getInfo")
            input.input-bar(type="file" name="img" id="img" accept="image/*" required)

            if errorMessage
                span= errorMessage
            
            input.submit-button(type="submit" value="Upload Cards")