extends base
include mixins/user_card

block content
    h1 User Card Home
    ul
        li
            a(href="/cards/upload") upload Cards
        li
            a(href="/search") Search
    each card in userCards
        +card(card) 
    else
        li sorry nothing found