footer
    div.footer-container
        div.writer-container
            span.writer 20101214 Kim yun Hyeong
            span.writer 20101312 Hong Chan Young
        h3.footer-copy &copy; #{new Date().getFullYear()} poneglyph