header
    div.header
        nav
            ul.login-bar
                if loggedIn
                   a.login-bar-box(href="/user/logout")
                        i.fa-solid.fa-right-from-bracket
                        small Log Out
                else 
                    a.login-bar-box(href="/join")
                        i.fa.fa-thin.fa-pencil.header-icon
                        small Join
                    a.login-bar-box(href="/login")
                        i.fa-solid.fa-right-to-bracket
                        small Login
        a.logo(href="/") PONEGLYPH
