header
    nav
        ul.login-bar
            if loggedIn
                li.login-bar-box
                    a(href="/user/logout") Log Out
            else 
                li.login-bar-box
                    a(href="/join") Join
                li.login-bar-box
                    a(href="/login") Login
    h1.logo
        a(href="/") PONEGLYPH
